In [2]:
import pandas as pd

In [27]:
df = pd.read_csv("../data/fake_users.csv")
df["Event"] = df["Event"].astype('category')
df["Category"] = df["Category"].astype('category')
df.head()

       UserId            Event  Category  Fake
0  53F7429AB5       phone_call      Jobs     0
1  C08F2A0901         click_ad     Phone     0
2  B124F43F6D         send_sms  Holidays     0
3  6DB134D2D1       send_email     Motor     0
4  8BD16971C5  click_carrousel   Leisure     0

In [28]:
df["UserId"].describe()

count         102365
unique          5350
top       CCB25F87C8
freq              49
Name: UserId, dtype: object

In [29]:
df["Event"].describe()

count         102365
unique             5
top       send_email
freq           23664
Name: Event, dtype: object

In [30]:
df["Category"].describe()

count     102365
unique         6
top        Motor
freq       17268
Name: Category, dtype: object

In [31]:
df["Fake"].describe()

count    102365.000000
mean          0.101197
std           0.301590
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Fake, dtype: float64